*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar .nav-link{
    color: white;
}
.navbar .nav-item.active a{
    color: #35a22c;
}

header .navbar .navbar-brand{
    color: white;
}
.navbar .nav-item{
    position: relative;
    margin-left:10px;
}
header .nav-item::before {
display: block;
content: '';
position: absolute;
width:0px;
height: 2px;
background-color: #35a22c;
bottom: 0;
left: 0;

transition: 0.5s;
}
header .nav-item:hover::before, .navbar .nav-item.active::before {
    width: 100%;
}

/* CAROUSEL */
#carousel .carousel-item{
    width: 100%;
    height: 100vh;

}
#carousel .carousel-caption h5{
    font-size: 56px;
    margin: 20px 0;
}
#carousel .carousel-caption p{
    font-size: 24px;
}

#carousel .carousel-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
#carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
#carousel .carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

#carousel .carousel-indicators li.active{
    background-color: #35a22c;
} 

/* PROJECTS */
.project_tabs .nav{
    justify-content: center;
}
.project_tabs .nav-pills .nav-link{
    background-color: white;
    border: 1px solid black;
    color: black;
    margin-left:  10px;
}
.project_tabs .nav-pills .nav-link.active{
    background-color: #35a22c;
    border-color: #35a22c;
    color: white;
}

.project_tabs .card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: hsl(0, 0%, 50%, 0.4) 0px 3px 8px;
    cursor: pointer;
    border: none;
}

.project_tabs .card-body{
    border: 1px solid transparent;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    transition: 0.5s;
    border-top: none;
}

.project_tabs .card:hover .card-body{
    border: 1px solid #35a22c;
    border-top: none;
}

.project_tabs .card h5{
transition: 0.5s;
}

.project_tabs .card:hover h5{
    color: #35a22c;
}

/* EXPERIENCE */

#experience{
    background-image: url(../image/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
    
}
#experience::before{
    content: '';
    position: absolute;
    background-color:rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.experience__title{
    position:relative;
    z-index: 1;
}